<section>
  <%- attributes.each do |attribute| -%>
  <p>
    <b><%%= <%= class_name %>.human_attribute_name :<%= attribute.name %> %>:</b>
    <%%= <%= singular_table_name %>.<%= attribute.name %> %>
  </p>
  <%- end -%>
</section>
